table {
    width: 50%;
}

table, th, td{
    border: 1px solid black;
}

table{
    border-collapse:collapse;
}

table button{
    padding:2px;
}

th, td{
    padding: 5px;
}

th{
    background-color:lightgray;
}
#formdiv{
    display:flex;
    flex-direction:column;
    margin-bottom:10px;
}

#formdiv button, label, input{
    margin:10px;
    padding: 5px;
}

#updateformdiv {
    display:none;

    flex-direction: column;
    margin-bottom: 10px;
}

#updateformdiv button, label, input {
    margin: 10px;
    padding: 5px;
}

#menu {
    font-size: 1.1em;
    font-weight: bolder;
    color: #C9D2C6;
    background-color: #2F3E46;
    padding: 20px;
}

.menu-item {
    border-collapse: collapse;
    border: solid 1px darkgray;
    padding: 10px;
}